@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ProductItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@model ProductItem

@{
  var preview = Model.Preview?.Url() ?? "https://placehold.co/320x200";
}

<div class="product">
  <a href="@Model.Url()">
    <img src="@preview" />
    <div class="padding-left-small">
      <h3 class="margin-none">@Model.Name.Replace('_', ' ')</h3>
      <p>@Math.Floor(@Model.Price?.First()?.Value ?? 0) DKK</p>
    </div>
  </a>
</div>