@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ProductItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Commerce.Core.Api
@model ProductItem

@{
    var store = CommerceApi.Instance.GetStore("soleMates");

    var preview = Model.Preview?.Url();
    if (string.IsNullOrEmpty(preview))
    {
        preview = "/images/products/" + new Random().Next(1, 13).ToString() + ".jpg"; // random fallback image
    }

    var url = Model.Url();
    var brand = Model.Brand!.Replace('_', ' ');
    var series = Model.Series!.Replace('_', ' ');

    var price = Model.Price?.GetPriceFor(store.BaseCurrencyId!.Value)?.Value;
    if (price is null)
    {
        return;
    }
}

<div class="product">
  <a href="@url">
    <img src="@preview" width="320" height="200" style="width: 320px; height: 200px; object-fit: cover;" loading="lazy" alt="Picture of @brand - @series"/>
    <div class="padding-left-small">
      <h2 class="margin-none">@series</h2>
      <p>@brand</p>
      <p>@((int)price) DKK</p>
    </div>
  </a>
</div>
