@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ProductItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@model ProductItem

@{
    var preview = Model.Preview?.Url() ?? "https://placehold.co/320x200";
    preview = "/images/products/" + new Random().Next(1, 13).ToString() + ".jpg";
}

<div class="product">
  <a href="@Model.Url()">
    <img src="@preview" style="width: 320px; height: 200px; object-fit: cover;"/>
    <div class="padding-left-small">
      <h3 class="margin-none">@Model.Series.Replace('_', ' ')</h3>
      <p>@Math.Floor(@Model.Price?.First()?.Value ?? 0) DKK</p>
    </div>
  </a>
</div>